
<app-navbar/>

<div class="container">
    <div class="page">
        <div class="t-g t-u">HOME</div>
    </div>
    <div class="post-container" *ngFor="let post of posts">
        <div class="post-header">
            <div>
                <strong>{{post.authorUsername}}</strong>
                <p class="t-g m-0">{{post.createdAt | date: "MMM d, y 'at' h:mm a" }}</p>
            </div>

            <div class="parent">
                <div>
                    <button class="bt-transparent t-g" type="button" (click)="showDropdown(post.id!)">●●●</button>
                </div>
                <div class="child"  *ngIf="selectedPost === post.id">
                    <button type="button" (click)="deletePost(post.id!)">delete post</button>
                </div>
            </div>
        </div>
        <div class="text-content">
            {{post.content}}
        </div>
        <!-- <div class="img-container">
            <img src="https://i.pinimg.com/1200x/e8/78/cb/e878cb55dda37b2876848988cecb34b8.jpg" alt="apt" >
        </div> -->

        <div class="react-container">
            <button 
            type="button" 
            title="react" 
            class="bt-transparent like"
            [class.liked]="liked"
            (click)="toggleLike()"          
            >
                <svg *ngIf="!liked" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#4A5A63"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/></svg>
                <svg *ngIf="liked" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#4A5A63"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>
            </button>
            <button 
            type="button" 
            title="comment" 
            class="bt-transparent"
            >
                <svg xmlns="http://www.w3.org/2000/svg" height="21px" viewBox="0 -960 960 960" width="24px" fill="#4A5A63"><path d="M880-80 720-240H160q-33 0-56.5-23.5T80-320v-480q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v720ZM160-320h594l46 45v-525H160v480Zm0 0v-480 480Z"/></svg>             
            </button>
        </div>
    </div>
</div>

<app-post (postCreated)="onPostCreated($event)"></app-post>