<app-navbar/>

<div class="container">
    <div class="post-container">
        <div class="post-header">
            <strong>farrahpepino</strong>
            <button class="bt-transparent">●●●</button>
        </div>
        hello!!
        <div class="img-container">
            <img src="https://i.pinimg.com/1200x/e8/78/cb/e878cb55dda37b2876848988cecb34b8.jpg" alt="apt" >
        </div>
    </div>

    <div class="post-container">
        <div class="post-header">
            <strong>farrahpepino</strong>
            <button class="bt-transparent">●●●</button>
        </div>
        hello!!
        <div class="img-container">
            <img src="https://i.pinimg.com/1200x/e8/78/cb/e878cb55dda37b2876848988cecb34b8.jpg" alt="apt" >
        </div>
    </div>
</div>