<div class="container">
  <h3>Sign in</h3>
   <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="Email" class="inp" formControlName="email">
    <input type="password" placeholder="Password" class="inp" formControlName="password">
    <button type="submit" class="bt">log in</button>
   </form>
   <br>
   <button type="button" class="bt-transparent" (click)="goToRegister()">Create an account.</button>

  <div *ngIf="loading" class="spinner">
    <app-loading></app-loading>
  </div>

  <div *ngIf="error" class="error">
    Invalid credentials.
  </div>
</div>
