<button type="button" class="post" (click)="toggleForm()">+</button>
<div class="blur" *ngIf="showForm"></div>


<div *ngIf="showForm" class="post-form">
    <div class="header-form">
        <strong>Farrah Pepino</strong>
        <div class="subtext">{{ today | date: "MMM d, y 'at' h:mm a" }}</div>
        <button type="button" class="close-btn" (click)="toggleForm()">X</button>
    </div>
    <div
    contenteditable="true"
    class="editable"
    data-placeholder="What's on your mind?"
    #postInput
    >
    </div>
    <button type="button" class="post-btn" (click)="submitPost()">Post</button>
</div>
