<div class="container">
    <h3>Register</h3>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
            <input type="text" placeholder="Username" class="inp" formControlName="username">
            <input type="text" placeholder="Email" class="inp" formControlName="email">
            <input type="password" placeholder="Password" class="inp" formControlName="password">
            <button type="submit" class="bt">Sign up</button>
        </form>
        
        <br>
        <button type="button" class="bt-transparent" (click)="goToLogin()">Sign in.</button>

        <div *ngIf="loading" class="spinner">
            <app-loading></app-loading>
        </div>

        <div *ngIf="error" class="error">
            Already registered? Try a different username or email.
        </div>
  </div>
  