
.container{
    align-items: center;
    display: flex;
    margin-top: 100px;
    flex-direction: column;
}

form{
  gap: 10px;
  display: flex;
  flex-direction: column;
  width: auto;
  min-width: 400px;
  align-items: center;
}

@media (max-width: 1100px) {
  
}
