<div class="container">
    <div class="logo">R A D I I</div>
    <div class="row">
        <button class="bt-transparent" (click)="goToProfile()">PROFILE</button>
        <button class="bt-transparent" (click)="goToHome()">HOME</button>
        <button class="bt-transparent underline bottom-15" type="button" (click)="signOut()">SIGN OUT</button>
    </div>
</div>

<input type="text" class="search" placeholder="SEARCH" (input)="search$.next($any($event.target).value)" [(ngModel)]="searchTerm">

<div *ngIf="loading" class="spinner">
    <app-loading></app-loading>
</div>

<app-search [users]="users" *ngIf="searchTerm"></app-search>