.container{
    padding: 15px;
    background-color: #0d0d0d;
    height: 98%;
    width: 200px;
    color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 1001;
}

button{
    color: white;
}

.search{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30rem;
    padding: 8px 20px;
    border-radius: 0;
    border: 1px solid;
    outline: none;
    background-color: white;
    z-index: 1001;
}

@media (max-width: 1100px) {
    .container {
        visibility: hidden;
    }
    .search {
        visibility: hidden;
    }
}
  