<div class="container">
    <button type="button" class="bt-transparent">search works!</button>
    <button type="button" class="bt-transparent">search works!</button>
    <button type="button" class="bt-transparent">search works!</button>
    <button type="button" class="bt-transparent">search works!</button>
    <button type="button" class="bt-transparent">search works!</button>
    <button type="button" class="bt-transparent">search works!</button>
    <button type="button" class="bt-transparent">search works!</button>
    <button type="button" class="bt-transparent">search works!</button>

</div>